<launch>
    <param name="/use_sim_time" value="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find multiple_turtlebots_sim)/launch/robots.launch"/>

    <include file="$(find multiple_turtlebots_sim)/launch/gmapping_robot1.launch"/>

    <include file="$(find multiple_turtlebots_sim)/launch/gmapping_robot2.launch"/>

    <include file="$(find multiple_turtlebots_sim)/launch/gmapping_robot3.launch"/>

 <!---  Merge of maps -->
    <!---<include file="$(find multiple_turtlebots_sim)/launch/map_merge.launch"/>-->


    <!---rviz-->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find multi_robots_nav)/rviz/turtlebots_rrt_exploration.rviz"/>

</launch>