<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro.py $(find turtlebot_description)/robots/kobuki_hexagons_asus_xtion_pro.urdf.xacro"/>
    <group ns="robot1">
        <param name="tf_prefix" value="robot1_tf"/>
        <include file="$(find multiple_turtlebots_sim)/launch/single_robot.launch">
            <arg name="init_pose" value="-x -3 -y 1 -z 0"/>
            <arg name="robot_name" value="robot1"/>
        </include>
    </group>

    <group ns="robot2">
        <param name="tf_prefix" value="robot2_tf"/>
        <include file="$(find multiple_turtlebots_sim)/launch/single_robot.launch">
            <arg name="init_pose" value="-x -4 -y 1 -z 0"/>
            <arg name="robot_name" value="robot2"/>
        </include>
    </group>

    <group ns="robot3">
        <param name="tf_prefix" value="robot3_tf"/>
        <include file="$(find multiple_turtlebots_sim)/launch/single_robot.launch">
            <arg name="init_pose" value="-x -5 -y 1 -z 0"/>
            <arg name="robot_name" value="robot3"/>
        </include>
    </group>

</launch>