<!--
    DEVELOPMENT VERSION
        Version of 2020 January 06
        by Pierre GRAS

    USE:
        Performs visual odometry and visual SLAM from RGB-D data, either from camera stream or from rosbag.

    NODES:
    - base_to_camera
        publish tf /base_link -> /camera_link
    - camera_to_imu
        publish tf /camera_link -> /imu_link
    - rtabmap/rgbd_sync
        synchronize rgb and depth topics
    - rtabmap/rgbd_odometry
        extract visual features and compute visual odometry
    - rtabmap/rtabmap
        compute SLAM from RGBD data
    - rviz
        UI for mapping vizualization
    - points_xyzrbg
        publish 3D RGB pointclouds

    NOTES:
        Added relevant parameters for RTABMAP Visual Odometry and Visual SLAM
        Parameters can be found here:
            https://github.com/introlab/rtabmap/blob/master/corelib/include/rtabmap/core/Parameters.h
-->

<launch>
    <arg name="camera"                  default=""/>
    <arg name="map_frame"               default="map"/>
    <arg name="odom_frame"               default="odom"/>
    <arg name="base_link_frame"         default="base_link"/>

    <arg name="db_recording"            default="true"/> <!-- true: database record - false: visualization only -->
    <arg name="from_rosbag"             default="true"/> <!-- true: published topics come from rosbag -->

    <arg name="visual_odometry"         default="true"/>

    <!-- topic names -->
    <arg name="color_topic"             default="$(arg camera)/camera/color/image_raw"/>
    <arg name="depth_topic"             default="$(arg camera)/camera/aligned_depth_to_color/image_raw"/>
    <arg name="camera_info_topic"       default="$(arg camera)/camera/color/camera_info"/>
    <arg name="odom_topic"              default="$(arg camera)/visual_odometry"/> <!-- when using only VO -->

    <arg name="frame_id"                default="$(arg base_link_frame)"/> <!-- base/rover's frame -->

    <arg name="rviz_cfg"                default="$(find rtabmap_ros)/launch/config/dev_rgbd_July.rviz"/>


    <arg name="use_sim_time"            default="$(arg from_rosbag)"/>
    <arg if="$(arg db_recording)"
        name="rtabmap_args"             default="--delete_db_on_start"/>
    <arg unless="$(arg db_recording)"
         name="rtabmap_args"            default=""/>



    <!-- TF static transform (base_link to camera_link) + (camera_link to imu_link) -->
    <!--node name="base_to_camera" pkg="tf" type="static_transform_publisher" args="0.07 0 0.1 0 0 0 /base_link   /camera_link 100"/-->
    <!--node name="camera_to_imu"  pkg="tf" type="static_transform_publisher" args="0 0 0.015 0 0 0  /camera_link /imu_link    100"/-->
    <!-- Transformation for CLOVER platform, camera inclined 20 degrees -->
    <node name="base_to_camera" pkg="tf" type="static_transform_publisher" args="0.15 0.15 0.3 0 0.3490658 0 $(arg camera)/base_link   $(arg camera)/camera_link 100"/>
    <node name="ChildMap_to_MergedMap" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg map_frame) map 100"/>



  <group ns="rtabmap">

    <!-- RGB-D Synchronisation -->
    <node name="rgbd_sync" pkg="nodelet" type="nodelet" args="standalone rtabmap_ros/rgbd_sync" output="screen">

        <remap from="rgb/image"         to="$(arg color_topic)"/>
        <remap from="depth/image"       to="$(arg depth_topic)"/>
        <remap from="rgb/camera_info"   to="$(arg camera_info_topic)"/>
        <remap from="rgbd_image"        to="rgbd_image"/>

        <param name="approx_sync"           type="bool"       value="false"/>
        <param name="queue_size"            type="int"        value="10"/>
        <param name="depth_scale"           type="double"     value="1.0"/>
    </node>



    <!-- RGB-D Odometry -->
    <node if="$(arg visual_odometry)" name="rgbd_odometry" pkg="rtabmap_ros" type="rgbd_odometry" output="screen" args="$(arg rtabmap_args)">

        <remap from="rgb/image"         to="$(arg color_topic)"/>
        <remap from="depth/image"       to="$(arg depth_topic)"/>
        <remap from="rgb/camera_info"   to="$(arg camera_info_topic)"/>
        <remap from="rgbd_image"        to="rgbd_image"/>
        <remap from="odom"              to="/visual_odometry"/> <!-- VO output topic -->

        <param name="frame_id"                      type="string"   value="$(arg frame_id)"/>
        <param name="odom_frame_id"                 type="string"   value="$(arg odom_frame)"/> <!-- VO frame -->
        <param name="ground_truth_base_frame_id"    type="string"   value=""/>
        <param name="wait_for_transform_duration"   type="double"   value="0.25"/>
        <param name="approx_sync"                   type="bool"     value="false"/>
        <param name="queue_size"                    type="int"      value="10"/>
        <param name="subscribe_rgbd"                type="bool"     value="true"/>
        <param name="guess_min_translation"         type="double"   value="0"/>
        <param name="guess_min_rotation"            type="double"   value="0"/>


        <!-- RTABMAP RGBD Odometry parameters -->
        <param name="Odom/Strategy"                 type="string"   value="1"/>     <!-- def:0(F2M) -->
        <param name="Odom/ResetCountdown"           type="string"   value="1"/>     <!-- def:0 -->
        <param name="Odom/GuessSmoothingDelay"      type="string"   value="0.00"/>  <!-- def:0.00 -->
        <param name="Odom/VisKeyFrameThr"           type="string"   value="150"/>   <!-- def:150 -->
        <param name="Odom/KeyFrameThr"              type="string"   value="0.3"/>   <!-- def:0.3 -->
        <!--param name="Odom/Holonomic"                type="string"   value="true"/-->
        <param name="Vis/CorType"                   type="string"   value="0"/>     <!-- def:0(Features Matching) -->
        <param name="OdomF2M/Maxsize"               type="string"   value="1000"/>  <!-- def:2000 -->

        <!-- Visual Features Registration parameters -->
        <param name="Vis/EstimationType"            type="string"   value="1"/>     <!-- def:1(3D->2D PnP) -->
        <param name="Vis/MinInliers"                type="string"   value="20"/>    <!-- def:20 -->
        <param name="Vis/Iterations"                type="string"   value="300"/>   <!-- def:300 -->
        <param name="Vis/BundleAdjustment"          type="string"   value="0"/>     <!-- def:1 (g2o) -->

        <!-- Visual Features Matching parameters -->
        <param name="Vis/CorNNType"                 type="string"   value="1"/>     <!-- def:1(FLANN KdTree) -->
        <param name="Vis/CorNNDR"                   type="string"   value="0.8"/>   <!-- def:0.8 -->
        <param name="Vis/CorGuessWinSize"           type="string"   value="20"/>    <!-- def:20 -->

        <!-- Motion Estimation: 3D to 2D (PnP) parameters -->
        <param name="Vis/PnPReprojError"            type="string"   value="2.0"/>   <!-- def:2.0 -->

        <!-- Visual Features Extraction parameters -->
        <param name="Vis/FeatureType"               type="string"   value="8"/>     <!-- def:8(GFTT+ORB) -->
        <param name="Vis/MaxFeatures"               type="string"   value="600"/>   <!-- def:1000 -->
        <param name="Vis/MaxDepth"                  type="string"   value="0"/>     <!-- def:0 -->
        <param name="Vis/MinDepth"                  type="string"   value="0"/>     <!-- def:0 -->
        <param name="Vis/DepthAsMask"               type="string"   value="true"/>  <!-- def:true -->
        <param name="Vis/RoiRatios"                 type="string"   value="0.0 0.0 0.0 0.0"/>
        <param name="Vis/GridRows"                  type="string"   value="1"/>     <!-- def:1 -->
        <param name="Vis/GridCols"                  type="string"   value="1"/>     <!-- def:1 -->
    </node>



    <!-- RTAB-Map SLAM -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">

        <param name="map_frame_id"         type="string" value="$(arg map_frame)"/>
        <remap from="rgbd_image"        to="rgbd_image"/>
        <remap from="odom"              to="$(arg odom_topic)"/> <!-- Odom input topic -->

        <param name="frame_id"              type="string"   value="$(arg frame_id)"/>
        <param name="odom_frame_id"         type="string"   value="$(arg odom_frame)"/> <!-- Odom frame -->
        <param name="subscribe_depth"       type="bool"     value="false"/>
        <param name="subscribe_rgbd"        type="bool"     value="true"/>
        <param if="$(arg visual_odometry)"
               name="subscribe_odom_info"   type="bool"     value="true"/>
        <param name="queue_size"            type="int"      value="10"/>


        <!-- RTAB-Map settings -->
        <param name="Mem/IncrementalMemory"             type="string"   value="true"/>  <!-- def:true -->
        <param name="Rtabmap/DetectionRate"             type="string"   value="1"/>     <!-- def:1 -->
        <param name="Rtabmap/StartNewMapOnLoopClosure"  type="string"   value="false"/> <!-- def:false -->
        <param name="Rtabmap/TimeThr"                   type="string"   value="0"/>     <!-- def:0 -->
        <param name="Rtabmap/MemoryThr"                 type="string"   value="0"/>     <!-- def:0 -->
        <param name="Rtabmap/LoopThr"                   type="string"   value="0.11"/>  <!-- def:0.11 -->

        <!-- Memory parameters -->
        <param name="Mem/RehearsalSimilarity"           type="string"   value="0.60"/>  <!-- def:0.60 -->
        <param name="Mem/UseOdometryFeatures"           type="string"   value="true"/>  <!-- def:true -->

        <!-- Memory - Visual Words Extraction parameters -->
        <param name="Kp/DetectorStrategy"               type="string"   value="8"/>     <!-- def:8(GFTT+ORB) -->
        <param name="Kp/MaxDepth"                       type="string"   value="0"/>     <!-- def:0 -->
        <param name="Kp/MinDepth"                       type="string"   value="0"/>     <!-- def:0 -->
        <param name="Mem/DepthAsMask"                   type="string"   value="true"/>  <!-- def:true -->
        <param name="Kp/MaxFeatures"                    type="string"   value="500"/>   <!-- def:500 -->
        <param name="Kp/RoiRatios"                      type="string"   value="0.0 0.0 0.0 0.0"/>
        <param name="Kp/GridRows"                       type="string"   value="1"/>     <!-- def:1 -->
        <param name="Kp/GridCols"                       type="string"   value="1"/>     <!-- def:1 -->

        <!-- Memory - Visual Words Matching parameters -->
        <param name="Kp/NNStrategy"                     type="string"   value="1"/>     <!-- def:1(FLANN KdTree) -->
        <param name="Kp/NndrRatio"                      type="string"   value="0.8"/>   <!-- def:0.8 -->

        <!-- Memory - Database parameters -->
        <param name="Mem/BinDataKept"                   type="string"   value="true"/>  <!-- def:true -->
        <param name="Mem/NotLinkedNodesKept"            type="string"   value="true"/>  <!-- def:true -->
        <param name="DbSqlite3/InMemory"                type="string"   value="false"/> <!-- def:false -->

        <!-- RGBD SLAM - Map Update parameters -->
        <param name="RGBD/LinearUpdate"                 type="string"   value="0.01"/>  <!-- def:0.10 -->
        <param name="RGBD/AngularUpdate"                type="string"   value="0.01"/>  <!-- def:0.10 -->
        <param name="RGBD/LocalRadius"                  type="string"   value="10"/>    <!-- def:10 -->
        <param name="RGBD/MaxLoopClosureDistance"       type="string"   value="0"/>     <!-- def:0 -->
        <param name="RGBD/LoopClosureReextractFeatures" type="string"   value="false"/> <!-- def:false -->

        <!-- RGBD SLAM - Proximity Detection parameters -->
        <param name="RGBD/ProximityByTime"              type="string"   value="false"/> <!-- def:false -->
        <param name="RGBD/ProximityBySpace"             type="string"   value="true"/>  <!-- def:true -->
        <param name="RGBD/ProximityPathFilteringRadius" type="string"   value="1.00"/>  <!-- def:1.00 -->

        <!-- RGBD SLAM - Graph Optimization parameters -->
        <param name="Optimizer/Strategy"                type="string"   value="0"/>     <!-- def:0(TORO) -->
        <param name="RGBD/OptimiweFromGraphEnd"         type="string"   value="false"/> <!-- def:false -->
    </node>

  </group>



    <!-- Visualisation Rviz -->
    <node unless="$(arg db_recording)"
          name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cfg)"/>


    <!-- 3D Pointcloud Publishing -->
    <node name="points_xyzrgb" pkg="nodelet" type="nodelet" args="standalone rtabmap_ros/point_cloud_xyzrgb">

        <remap from="rgb/image"         to="$(arg color_topic)"/>
        <remap from="depth/image"       to="$(arg depth_topic)"/>
        <remap from="rgb/camera_info"   to="$(arg camera_info_topic)"/>
        <remap from="cloud"             to="voxel_cloud" />

        <param name="decimation"            type="double"   value="4"/>
        <param name="voxel_size"            type="double"   value="0.0"/>
        <param name="approx_sync"           type="bool"     value="false"/>
    </node>

</launch>
