<launch>
    <node pkg="new_ros" type="framea_frameb.py" name="converter"/>
    <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
        <rosparam param="mappings">
            [{old: frame_a, new: /camera_rgb_optical_frame},{old: frame_b, new: /camera_optris_frame}]
        </rosparam>
    </node>
</launch>