<launch>

    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock /home/ayumi/compress_test3.bag"/>

    <node name="RGBimage_republish" pkg="image_transport" type="republish" args="compressed raw">
        <remap from="in" to="/camera/color/image_raw" />
        <remap from="out" to="camera/color/image_raw" />
    </node>

    <node name="DEPTHimage_republish" pkg="image_transport" type="republish" args="compressedDepth raw">
        <remap from="in" to="/camera/aligned_depth_to_color/image_raw" />
        <remap from="out" to="camera/aligned_depth_to_color/image_raw" />
    </node>


</launch>