<launch>
    <!-- <include file="$(find multiple_turtlebots_sim)/launch/multi-bot.launch"/> -->
    <node pkg="rosbag" type="play" name="rosbag_play1" args="/home/ayumi/Documents/RTAB-Map/out1.bag">
        <remap from="robot1/base_scan" to="robot1/scan" />
        <remap from="robot1/base_controller/odom" to="robot1/odom" />
        <remap from="robot1/data_throttled_camera_info" to="robot1/camera/rgb/camera_info" />
    </node>

    <node pkg="rosbag" type="play" name="rosbag_play2" args="/home/ayumi/Documents/RTAB-Map/out2.bag">
        <remap from="robot2/base_scan" to="robot2/scan" />
        <remap from="robot2/base_controller/odom" to="robot2/odom" />
        <remap from="robot2/data_throttled_camera_info" to="robot2/camera/rgb/camera_info" />
    </node>

    <group ns="robot1">

        <include file="$(find cpp)/launch/for_multi_rtabmap.launch">
            <arg name="for_frame" value="robot1/" />
            <arg name="topic_name" value="/robot1" />
        </include>

        <node name="RGBimage_republish" pkg="image_transport" type="republish" args="compressed raw">
            <remap from="in" to="data_throttled_image" />
            <remap from="out" to="camera/rgb/image_raw" />
        </node>

        <node name="DEPTHimage_republish" pkg="image_transport" type="republish" args="compressedDepth raw">
            <remap from="in" to="data_throttled_image_depth" />
            <remap from="out" to="camera/depth/image_raw" />
        </node>

    </group>


    <group ns="robot2">

        <include file="$(find cpp)/launch/for_multi_rtabmap.launch">
            <arg name="for_frame" value="robot2/" />
            <arg name="topic_name" value="/robot2" />
        </include>

        <node name="RGBimage_republish" pkg="image_transport" type="republish" args="compressed raw">
            <remap from="in" to="data_throttled_image" />
            <remap from="out" to="camera/rgb/image_raw" />
        </node>

        <node name="DEPTHimage_republish" pkg="image_transport" type="republish" args="compressedDepth raw">
            <remap from="in" to="data_throttled_image_depth" />
            <remap from="out" to="camera/depth/image_raw" />
        </node>
    </group>


    <!-- <node pkg="cpp" type="LoadDatabase_client" name="LoadDatabase_client1" output="screen">
        <param name="name" value="robot1"/>
    </node>
    <node pkg="cpp" type="LoadDatabase_client2" name="LoadDatabase_client2" output="screen">
        <param name="name" value="robot2"/>
    </node>  -->


    <node pkg="cpp" name="image_extractor" type="image_extractor.py" output="screen" />
    <node pkg="cpp" name="depth_extractor" type="feature_matching.py" output="screen" />
    <node pkg="cpp" name="loop_closure_server" type="detection_checker" output="screen"/>


    <!-- <node pkg="cpp" name="loop_closure" type="loop_closure_client" output="screen"/>
    <node pkg="cpp" name="loop_closure_server" type="detection_checker" output="screen"/> -->

    <!--<node pkg="cpp" name="reprocess" type="reprocess_client_node" output="screen">
        <param name="robot_num" value="2"/>
    </node>
    <node pkg="cpp" name="reprocess_server" type="reprocess_server_node" output="screen"/>
    <node pkg="cpp" name="gui" type="GUI_node" output="screen"/-->


</launch>